---
import AppLayout from '@/layouts/AppLayout.astro';
import { MODULES } from '@/config/modules';
import ModuleCard from '@/components/ModuleCard.astro';
---

<AppLayout>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {MODULES.map((m) => <ModuleCard module={m} />)}
  </div>
</AppLayout>


